.Entries{
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    width: 90vw;    
    max-height: 90vh;
    overflow: hidden;
}

.income-cat-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.entry-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding: 5px;
}


.form-section{
    min-width: 20vw;
}

.entry-column-center{
    min-width: 600px;
    

}
.entry-column-group{
    min-width: 200px;
}
.entry-column-form{
    min-width: 300px;
}
.entry-item-container{
    height: 60vh;
    overflow-y: scroll;
}