.Entries{
    display: flex;
    margin: 0 auto;
    width: 90vw;    
}

.income-cat-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.entry-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding: 5px;
}

.entry-section{
    width: 50vw;
    overflow-y: scroll;

}

.form-section{
    min-width: 20vw;
}

.entry-box{
    padding: 5px;
    border: 2px solid red;
}