.DashboardTable table{
    min-width: 600px;
    height: 60vh;
    min-height: 400px;
    margin: 0 auto;
  }

.DashboardTable{
  display:flex;
  width: auto;
  margin: 0 auto;
}

.table-forms{
  min-width:300px;
  height: 60vh;
  background-color: red;

}