.EntryGroup{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    min-height: 50px;
    background-color: var(--lightblue);
    border-radius: 5px;
    margin: 5px 5px;
    transition: 0.3s;
    border: 1px solid var(--grey);

}

.EntryGroup:hover{
    cursor: pointer;
    background-color: var(--darkgreen);
    transition: 0.3s;
    color: var(--app-background-color);

}

.EntryGroup>div{
    width: 100%;
    height: 100%;
}