.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
}


.logo-btn-container{
    height: 100px;
    width: 100px;
    margin-left:4%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-btn{
    font-size: 3rem;
    font-weight: bold;
    color: var(--grey);
    border: none;
    background-color:transparent;
    transition: 0.3s;

}
.logo-btn:hover{
    font-size: 4rem;
    font-weight:bold;
    color: var(--black);
    transition: 0.3s;
    cursor: pointer;

}