.dashboard-box{
    height: 100px;
    width: 100px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.dashboard-box:hover{
    cursor: pointer;
}

.dashboard-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 50vw;
}

.DashboardList{
    height: 100vh;
    width:100vw;

   
}